.root{
    -fx-background-image: url('/Icons/layout.png');
}

.button{
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 25px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(from 0% 93% to 0% 100%, #d9def6 0%, #d9def6 100%),
    #d9def6,
    #d9def6,
    radial-gradient(center 50% 50%, radius 100%, #d9def6, #d9def6);
}

.label {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;

}
.choice-box{
    -fx-background-color:
            linear-gradient(#f2f2f2, #d6d6d6),
            linear-gradient(#fcfcfc 0%, #d9d9d9 20%, #d6d6d6 100%),
            linear-gradient(#dddddd 0%, #f6f6f6 50%);
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: black;
    -fx-font-size: 43px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.vbox {

    -fx-padding: 30;
    -fx-spacing: 20;
}
.hbox {

    -fx-padding: 20;
    -fx-spacing: 10;
}
.hbox2 {

    -fx-padding: -60;
    -fx-spacing: 10;
}

.gridpane{
    -fx-padding: 280;
    -fx-spacing: 30;

}
#circle {
    -fx-background-radius: 50em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
    -fx-effect: dropshadow( three-pass-box , rgba(28, 0, 246, 0.6) , 5, 0.0 , 0 , 1 );
}

.circle{
    -fx-background-radius: 50em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0px;
    -fx-padding: 0px;
   -fx-effect: dropshadow( three-pass-box , rgba(28, 0, 246, 0.6) , 5, 0.0 , 0 , 1 );

}

.levelSelect{
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}



